@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/* Begin Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}
/* End Reset */

/* Utility Classes*/
.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px; /* move to off screen */
}

/* End Utility Classes */

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: aliceblue;
  background-image: linear-gradient(steelblue, #fff );
  background-image: linear-gradient(steelblue, purple, #fff );
  background-image: linear-gradient(to left, steelblue, #fff );
  background-image: linear-gradient(to right, steelblue, #fff );
  background-image: linear-gradient(to bottom, steelblue, #fff );
  background-image: linear-gradient(to top, steelblue, #fff );
  background-image: linear-gradient(to left, steelblue, #fff );

  /* first one, second one, n one */
  background-image: url('../img/bubbles.png'),
                    linear-gradient(to left, steelblue, #fff );
  background-repeat: repeat-y, no-repeat;
  background-position: right center;
  background-size: 20%, auto;

  /* background shorthand */
  background: repeat-y right center url(../img/bubbles.png), no-repeat linear-gradient(to left, steelblue, #fff);
    /* background: repeat position url */
}

.clip {
  font-weight: 800;
  font-size: 18rem;
  text-align: center;
  background-image: url("../img/scenic-2200x1331.png");
  background-size: 100%;
  text-transform: uppercase;
  -webkit-background-clip: text; /* for chrome */
  background-clip: text; /* for firefox */
  color: hsl(0, 0%, 0%, 0.196);
  color: transparent;
}

.container {
  background-color: rgb(251, 210, 156);
  background-image: url('../img/pat2-transparency.png');
  background-image: url('../img/scenic-2200x1331.png');
  background-image: url('../img/map-2176x1451.png');

  background-repeat: no-repeat;
  background-repeat: repeat; /* default */
  background-repeat: repeat-y; /* for y-axis */
  background-repeat: repeat-x; /* for x-axis for across */
  background-repeat: no-repeat;

  background-position: center center; /* position of image to show in container */
  background-position: top left; /* the top left of the image to show in container */
  background-position: bottom right; /* the bottom right of the image to show in container */
  background-position: top; /* the top of the image to show in container */
  
  background-size: contain; /* full image in y-axis in cotainer */
  background-size: cover; /* full image in cotainer */
}

.hero {
  border-bottom: 2px solid #000;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  background-color: hsla(0, 0%, 100%, 0.35);
}

.h1 {
  font-size: 500%;
  color: aliceblue; /* font color */
  text-shadow: 2px 2px 5px #000 /* shadown of text - x-axis y-axis blury colorOfShadow*/;
  /* background-color: black;
  background-color: hsla(0, 0%, 0%, 0.403);
  padding: 0.25rem;
  border-radius: 10px; */
}

.profile-pic-figure {
  width: 35%;
}

.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}

.example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid red;
}

.example img {
  width: 25%;
  height: auto;
}



